<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.AppICT"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <application android:label="@string/app_name">
        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="ITI_Info"
                  android:label="@string/ITI_Info">
                   <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.AppICT.MyActivity" />

        </activity>
        <activity android:name="NID_Info"
                  android:label="@string/NID_Info">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.AppICT.MyActivity" />

        </activity>
        <activity android:name="IM_Info"
                  android:label="@string/IM_Info">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.AppICT.MyActivity" />

        </activity>

        <activity android:name=".Algemeen_Info"
                  android:label="@string/Algemene_Info">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.AppICT.MyActivity" />

        </activity>
        <activity android:name="Zuyd_Info"
                  android:label="@string/Zuyd_Info">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.AppICT.MyActivity" />

        </activity>
    </application>
</manifest> 
